@import 'colors.myTour.module.scss';

.final-price {
  color: $GREEN;
}

.price {
  color: $BLACK;
}
.fee {
  color: $BLACK;
}

.point {
  color: $GREEN;
}

.flight-search {
  background: $BLUE_300;
}

.flight-ticket {
  background: $BLUE_300 ;
}

.card-background {
  background: $BLUE_100;
}
.card {
  border: 1px solid $BLUE_200;
}
.card-divider {
  border-bottom: 1px solid $BLUE_200;
}

.breadcrumb{
  color: $BLUE;
}
.note-text{
  color: $BLUE;
}
.text-bold{
  font-weight: 500;
}

#root {
  background-color: $BLUE_50;
}
